/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o contêiner principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para os títulos */
h1 {
    color: #333;
}

h2 {
    color: #555;
}

h3 {
    color: #777;
}

h4 {
    color: #999;
}

/* Estilos para os parágrafos */
p {
    margin-bottom: 15px;
}

/* Estilos para as listas */
ul, ol {
    margin-bottom: 15px;
    margin-left: 20px;
}

/* Estilos para a classe dados-dpo */
/* Estilos para a classe dados-dpo */
.dados-dpo {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.dados-dpo h5 {
    margin: 5px 0;
    color: #333;
}


/* Estilos para o rodapé */
footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}
